code{
		background: #FFFFFF;
		display: block;
		border-radius: 6px;
		padding: 24px 15px;
	    text-align: center;
	}

	header,
	section,
	aside,
	footer{
		margin: 0.5% 1.5% 1.5% 1.5%;
	}

	aside{
		 float: right;
		 width: 20%;
	}

	.img-logo-nav{
		width: 20px;
		height: 20px;
	}
	.img-product{
		max-width: 200px;
		max-height: 200px;
	}
	.img-product-view{
		max-width: 200px;
		max-height: 200px;
		margin-right: 50%;
		margin-left: 50%;
	}
	.img-logo-big{
		max-width: 450px;
		max-height: 100px;
	}

	section{
		 float: left; 
		 width: 25%;
	}

	.contenido{
		 float: left; 
		 width: 70%;
	}

	fieldset{
		height: 30px;
		overflow: inherit;
		margin: 0;
		border: 0;
		padding: 20px;
	}

	fieldset label{
		padding: 5px;
		display: block;
	}

	
	label{
		 font-weight: bold;
	}

	input{
		border-radius: 5px;
	}
.content-fixed{

	width: 100%;
	height: 100%;
}

.products{
	list-style:none;
	margin-right:300px;
	padding:0px;
	height:100%;		
}
.products li{
	display:inline;
	width: 200px;
	height: 300px;
	float:left;
	margin-bottom: 5px;
	border-radius: 5px;
}
.cart{
	position: static;
	width:100%;
	height:100%;
	background:#5cb85c;
	float: right;
	border-radius: 5px;
	border:3px solid #333;
}
.panel-producto{
	list-style:none;
	margin-right:500px;
	margin-left: 20px;
	padding:20px;
	height:100%;	
	background: #EDEFF1;
}

.cart-title{
	color:#FFFFFF;
	font-weight:bold;
	font-family: "Impact", sans-serif;
	text-align:center;
}
h1{
	text-align:center;
	
}
h2{
	position:absolute;
	font-size:2em;
	color:#555;
	text-align:center;
}
.total{
	margin:0;
	text-align:right;
	padding-right:20px;
}

.full {
    width: 100%;	
}
.footer {
	background: #EDEFF1;
	height: auto;
	position:relative;
   	bottom:0;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
}
.footer a {
	color: #78828D
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}
.footer-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
.payments {
	font-size: 1.5em;	
}

.footer-bottom-fix{
	position: fixed;
  bottom: 0px;
}
.login-form {
    width: 40%;
    margin: 0 auto;
}
.center-form {
    margin: 30px auto;
    height:250px;
}
.menu-item-list{
	background:#009933;
	border-radius: 5px;
}
.border-div{
	padding: 5px 5px 5px 5px;
}

.headerDivider {
     border-left:1px solid #38546d; 
     border-right:1px solid #16222c; 
     height:80px;
     position:absolute;
     right:249px;
     top:10px; 
}
div.clear
{
    clear: both;
}
#sticky {
    width: 20%;
    height: 40%;
	min-width: 20%;
	min-height: 100px;
    background-color: #333;
    color: #fff;
    border-radius: 0.5ex;
    float: right;
}
#sticky.stick {
    position:fixed;
    top:0px;
    right:1.3%;
    z-index: 10000;
    border-radius: 0 0 0.5em 0.5em;
    float: right;
}

.caption {
height: 130px;
overflow: hidden;
}
.caption h4 {
white-space: nowrap;
}
.thumbnail-drop img {
width: 100%;
max-width: 200px;
}
.thumbnail-drop {
padding: 0;
}
.thumbnail-drop .caption-full {
padding: 9px;
color: #333;
}
footer {
margin: 50px 0;
}